* {
  color: #414a4c;
}

ion-button {
  color: black !important;
}

.no-data-msg {
  color: gray;
  text-align: center;
}

.delete-icon {
  color: red;
  float: right;
}

.downloads-list-item {
  padding: 5px;
  border-radius: 10px;
  background-color: antiquewhite;
}

.section-header {
  font-size: 20px;
}
